/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

section {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
}

.show-more-btn {
    color: black;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card_horizontal {
    display: flex;
}

.card img {
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card h3 {
    font-size: 16px;
}

.neutral-star {
    color: var(--main-bg-color)
}

.col {
    display: flex;
    flex-direction: column;
}

/****** Header ***********/

header {
    display: flex;
    margin-bottom: 30px;
}

.logo-container {
    margin-top: auto;
}

#header-logo {
    height: 19px;
}

nav {
    margin-left: auto;
    padding: 0 50px;
    display: flex;
    gap: 68px;
    font-size: 16px;
}

nav a {
    padding-top: 16px;
    border-top: transparent solid 2px;
}

nav a.active {
    color: var(--main-color);
    border-top: var(--main-color) solid 2px;
}


/****** Search ***********/

.search {
    gap: 20px;
    margin-bottom: 30px;
}

.search form {
    margin-right: auto;
    display: flex;
}

.search form button {
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search input {
    border: none;
    padding: 10px;
    border-top: var(--main-bg-color) solid 2px;
    border-bottom: var(--main-bg-color) solid 2px;
}

.search form .fa-solid {
    color: black;
    padding: 12px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-bar i {
    padding: 3px 8px;
    border: var(--main-bg-color) solid 1px;
    border-radius: 50%;
}

.filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chip {
    padding: 10px;
    border: var(--main-bg-color) solid 2px;
    border-radius: 30px;
    cursor: pointer;
}

.chip:hover {
    background-color: var(--filter-bg-color);
}

/****** Accomodations & populars ***********/

.accommodations-and-populars {
    gap: 30px;
    margin-bottom: 60px;
}

/****** Accomodations ***********/
.accommodations {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
}

.accommodations h2 {
    margin-bottom: 30px;
}

.accommodations .cards-container {
    gap: 30px;
    margin-bottom: 20px;
}

.accommodations .cards-container >  a {
    width: 30%;
}

.accommodations .card img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/****** Most Populars ***********/

.most-populars {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    width: 50%;
}

.most-populars-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.most-populars-title i {
    margin-left: auto;
}

.most-populars .cards-container {
    gap: 30px;
}

.most-populars .card img {
    width: 35%;
    height: 130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.most-populars .card-rating {
    margin-top: auto;
}

/****** Activities ***********/

.activities {
    margin-bottom: 60px;
}

.activities h2 {
    margin-bottom: 30px;
}

.activities .cards-container {
    gap: 30px;
}


.activities .card {
    padding: 0;
}

.activities .card img {
    width: 300px;
    height: 380px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activities .card h3 {
    padding: 20px;
}

/****** Footer ***********/

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 20px;
}
